#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: rgb(242, 117, 8);
}
@font-face{
  font-family:'Dislexia';
  src:url("../fonts/dislexia.otf");
}
@font-face{
  font-family:'escolar';
  src:url("../fonts/escolar.ttf");
}
@font-face{
  font-family:'sarakanda';
  src:url("../fonts/sarakanda.ttf");
}